* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--offwhite);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mantine-AppShell-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--oxford-blue);
  color: var(--white);
  box-shadow: 0 2px 10px #0000001a;
  padding: 1.3rem;
}

.header {
  background-color: #3d8d7a;
}

.content {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.side-bar {
  background-color: var(--oxford-blue);
  color: var(--white);
  width: 250px;
  padding: 1rem;
  flex-shrink: 0;
  height: 100%;
}

.side-bar h1 {
  color: var(--white);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  background-color: var(--white);
  color: var(--black);
}

.main-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer {
  background-color: var(--white);
  color: var(--oxford-blue);
  flex-shrink: 0;
  width: 100%;
}

.draggable {
  touch-action: none;
}

@media (max-width: 1200px) {
  .side-bar {
    width: 200px;
  }

  .main-content {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0.5rem;
  }

  .side-bar {
    display: none;
  }

  .main-content {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0.5rem;
  }

  footer {
    padding: 0.5rem;
  }

  .main-content {
    padding: 0.5rem;
  }
}
